<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hair_booking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hair_booking">
        <activity android:name=".ui.admin.discount.add_new_discount.AdminAddNewDiscountActivity"
            android:label="Thêm mới khuyến mãi">

        </activity>
        <activity android:name=".ui.admin.discount.edit_discount.AdminEditDiscountActivity"
            android:label="Chỉnh sửa khuyến mãi"/>
        <activity android:name=".ui.admin.discount.overview.AdminDiscountListActivity"
            android:exported="true"
            android:label="Danh sách khuyến mãi"/>
        <activity
            android:name=".ui.admin.home.AdminHomeActivity"
            android:exported="true" />
        <activity android:name=".ui.normal_user.booking.booking_confirm.BookingConfirmActivity"
            android:label="Đặt lịch thành công"/>
        <activity android:name=".ui.normal_user.booking.choose_discount.ChooseDiscountActivity"
            android:label="Chọn khuyến mãi"/>
        <activity
            android:name=".ui.authentication.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ui.admin.managers_list.ManagerDetailAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.managers_list.ManagersListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.normal_user.history.detail.HistoryBookingDetailActivity"
            android:exported="true"
            android:label="Chi tiết lịch sử"
            android:parentActivityName=".ui.normal_user.history.overview.HistoryBooking"/>
        <activity
            android:name=".ui.normal_user.history.overview.HistoryBooking"
            android:exported="true"
            android:label="Lịch Đã Đặt"
            android:parentActivityName=".ui.normal_user.home.NormalUserHomeActivity"/>
        <activity android:name=".ui.admin.service.edit_service.AdminEditServiceActivity"
            android:label="Chỉnh sửa dịch vụ"/>
        <activity android:name=".ui.admin.service.add_new_service.AdminAddNewServiceActivity"
            android:label="Thêm mới dịch vụ"/>
        <activity
            android:name=".ui.admin.service.overview.AdminServiceListActivity"
            android:exported="true"
            android:label="Danh sách dịch vụ"/>
        <activity android:name=".ui.manager.appointment.detail.edit.ManagerEditAppointmentActivity"
            android:label="Chỉnh sửa lịch đặt"/>
        <activity
            android:name=".ui.manager.appointment.overview.ManagerAppointmentListActivity"
            android:exported="true"
            android:label="Danh sách lịch đặt"/>
        <activity
            android:name=".ui.authentication.BeginningActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.normal_user.wishlist.NormalUserWishlistActivity"
            android:exported="false"
            android:parentActivityName=".ui.normal_user.home.NormalUserHomeActivity"
            android:label="Danh sách yêu thích" />
        <activity
            android:name=".ui.admin.users_list.UserDetailAdminActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.users_list.UsersListActivity" />
        <activity
            android:name=".ui.admin.users_list.UsersListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.normal_user.home.NormalUserHomeActivity"
            android:exported="true"
            android:label="Trang chủ" />
        <activity
            android:name=".ui.manager.appointment.detail.ManagerAppointmentDetailActivity"
            android:exported="false"
            android:label="Chi tiết lịch đặt"
            android:parentActivityName=".ui.manager.appointment.overview.ManagerAppointmentListActivity" />
        <activity
            android:name=".ui.manager.stylist.ManagerStylistListActivity"
            android:exported="false"
            android:parentActivityName=".ui.manager.home.ManagerHomeActivity"
            android:label="Danh sách thợ làm tóc" />
        <activity
            android:name=".ui.normal_user.booking.choose_salon.ChooseSalonActivity"
            android:exported="false"
            android:label="@string/choose_salon_screen_title" />
        <activity
            android:name=".ui.normal_user.booking.choose_stylist.ChooseStylistActivity"
            android:exported="false"
            android:label="@string/choose_stylist_screen_title" />
        <activity
            android:name=".ui.normal_user.booking.choose_service.ChooseServiceActivity"
            android:exported="false"
            android:label="@string/choose_salon_screen_title" />
        <activity
            android:name=".ui.normal_user.booking.BookingActivity"
            android:exported="true"
            android:label="@string/booking_screen_title" />
        <activity
            android:name=".ui.manager.stylist.ManagerStylistDetailActivity"
            android:exported="true"
            android:parentActivityName=".ui.manager.stylist.ManagerStylistListActivity"
            android:label="Chi tiết thợ làm tóc" />
        <activity
            android:name=".ui.normal_user.salon.NormalUserSalonDetailActivity"
            android:exported="true"
            android:label="Thông tin cửa hàng" />
        <activity
            android:name=".ui.manager.profile.ManagerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.normal_user.profile.NormalUserProfileActivity"
            android:exported="true" />
        <activity android:name=".ui.manager.home.ManagerHomeActivity" />
        <activity android:name=".ui.authentication.LogInActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>