<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hair_booking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hair_booking">
        <activity android:name=".ui.normal_user.booking.ChooseDiscountActivity"></activity>
        <activity
            android:name=".ui.normal_user.booking.ChooseServiceActivity"
            android:exported="true"
            android:label="@string/choose_service_screen_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.normal_user.booking.ChooseSalonActivity"
            android:exported="true"
            android:label="@string/choose_salon_screen_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.normal_user.booking.ChooseStylistActivity"
            android:exported="true"
            android:label="@string/choose_stylist_screen_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.normal_user.booking.BookingActivity"
            android:exported="true"
            android:label="@string/booking_screen_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.manager.stylist.ManagerStylistDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.normal_user.salon.NormalUserSalonDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manager.profile.ManagerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.normal_user.profile.NormalUserProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.normal_user.home.NormalUserHomeActivity"
            android:exported="true"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.manager.home.ManagerHomeActivity" />
        <activity android:name=".ui.authentication.LogInActivity" />
        <activity
            android:name=".MainActivity">

        </activity>
    </application>

</manifest>